= simple_form_for [student, @payment] do |f|
  = f.input :date, as: :date, order: [:year, :month, :day]
  = f.input :amount, as: :integer
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit