- breadcrumb :payment, student, @payment
%table.table.table-condensed
  %tbody
    %tr
      %td= "#{t('payments.columns.full_name')}:"
      %td= student.decorate.full_name
    %tr
      %td= "#{t('payments.columns.date')}:"
      %td= @payment.date
    %tr
      %td= "#{t('payments.columns.amount')}:"
      %td= @payment.amount

= link_to t('shared.back'), payments_list_path, class: 'btn btn-default'
